spring:
  datasource:
    url: ${DATABASE_URL}         # Railway provides this
    username: ${PGUSER}          # Railway environment variable
    password: ${PGPASSWORD}      # Railway environment variable

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

server:
  port: ${PORT:8080}
jwt:
  secret: ${JWT_SECRET}
  expiration-ms: 36000000